<div class="row" style="width: 100%; padding: 10px;">
	<div class="col-12">
		<div class="col-12" style="text-align: center;">
			<h1>New Booking</h1>
		</div>

		<%= render 'form', booking: @booking %>
	</div>
</div>