<div class="row" style="width: 100%; padding: 10px;">
	<div class="col-6" style="text-align: center;">
		<h1>Lake Tours</h1>
		<p>
		Welcome if you are new around here and nice to see you are back for some more fum if you have been part of tours before.
		</p>
		<p>
		Here at Lake Tours we give you the oportunity to catch a glimpse of the Scottish beauty. We offer tours Leaving from Aberdeen to over 300 
		houndered lakes across Scotland and North England. You can browse trough the lake by pressing the lakes button in the menu. After you decide what 
		fits you best go and see the trips we offer, if nothing there catches your eye we can organise special trips, you wil just need to contact us for that.
		Once you are set you will just need to create an account in order to make a booking.
		</p>
		<p align="left">
		You can find us at our Aberdeen office, ring us or just pop us an email.<br><br>
		5 Watson St, <br>
		Aberdeen <br>
		AB25 2QB<br>
		01632 960861<br>
		contact@laketours.com<br>
		</p>
		
	</div>
	<div class="col-6">
		<img class="img-fluid rounded mx-auto d-block" src="/assets/img5-fe209072396fcae1aa7a90ee68993930ce1cb4fc9e18bada30c06ee2734d7e39.jpg" alt="Lake image" style="height: auto">
	</div>
</div>
